{% extends 'base.html.twig' %}

{% block title %}Edit TagEvenement{% endblock %}

{% block body %}
    <h1>Edit TagEvenement</h1>

    {{ include('tag_evenement/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_tag_evenement_index') }}">back to list</a>

    {{ include('tag_evenement/_delete_form.html.twig') }}
{% endblock %}
